header {
  background-color: aqua;
  margin: -10px;
}
header ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  align-items: center;
  margin: 0;
}
header li {
  margin-right: 80px;
  font-weight: bold;
}
header li.logo {
  margin-right: auto;
}
header img.logo {
  width: 100px;
}
