.container {
  display: flex;
  height: 500px;
  width: 90%;
  margin: auto;
}
.box1 {
  width: 30%;
  height: 500px;
  background-color: aqua;
}
.box2 {
  width: 70%;
  height: 500px;
  background-color: blueviolet;
}
aside {
  width: 100%;
  height: 300px;
  background-color: bisque;
  display: flex;
}
.kotak1 {
  width: 50%;
  height: 300px;
  background-color: lightgreen;
}
.kotak2 {
  width: 50%;
  height: 300px;
  background-color: rgb(19, 185, 19);
}
footer,
header {
  background-color: lightskyblue;
  width: 100%;
  height: 100px;
}
